* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  color: #074443;
  background: rgb(118, 255, 184);
  background: -moz-linear-gradient(
    308deg,
    rgba(118, 255, 184, 1) 0%,
    rgba(0, 255, 212, 1) 29%,
    rgba(170, 209, 192, 1) 100%
  );
  background: -webkit-linear-gradient(
    308deg,
    rgba(118, 255, 184, 1) 0%,
    rgba(0, 255, 212, 1) 29%,
    rgba(170, 209, 192, 1) 100%
  );
  background: linear-gradient(
    308deg,
    rgba(118, 255, 184, 1) 0%,
    rgba(0, 255, 212, 1) 29%,
    rgba(170, 209, 192, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#76ffb8",endColorstr="#aad1c0",GradientType=1);
  background-repeat: no-repeat;
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxBody {
  background-color: rgba(167, 223, 234, 0.958);
  border-radius: 10px;
  padding: 10px 40px;
  margin: 20px 0px;
}

.pText {
  text-align: center;
  margin:40px 0px;
}
