@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  /*background: #666666; */
  margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
  padding: 0;
  text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.VisualizationMainPage #mainContent {
  /*padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
  background: #7ac4b7;
}

.VisualizationMainPage #container {
  background: #ffffff;
  /*margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
  text-align: left; /* this overrides the text-align: center on the body element. */
}

.VisualizationMainPage #algoControlSection {
  background: #7ac4b7;
  color: #000000;
}

.VisualizationMainPage #generalAnimationControlSection {
  background: #7ac4b7;
  color: #21bdc5;
}

.VisualizationMainPage #header {
  background: #21bdc5;
  color: #331a8e;
  padding: 0 10px 0 20px;
}

.VisualizationMainPage #header A:visited {
  text-decoration: none;
  color: #331a8e;
}

.VisualizationMainPage #header h1 {
  margin: 0;
  padding: 10px 0;
}

.VisualizationMainPage #header A:link {
  text-decoration: none;
  color: #331a8e;
}

.VisualizationMainPage #container {
  background: #ffffff;
  margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
  text-align: left; /* this overrides the text-align: center on the body element. */
}

.VisualizationMainPage #footer A:visited {
  text-decoration: none;
  color: ffcc33;
}

.VisualizationMainPage #footer A:link {
  text-decoration: none;
  color: #331a8e;
}

.VisualizationMainPage #mainContent h1 {
  padding: 0 20px;
  background: #ffffff;
  color: #21bdc5;
}

.VisualizationMainPage #mainContent h2 {
  padding: 0 20px;
  background: #ffffff;
  color: #21bdc5;
}

.VisualizationMainPage #mainContent h3 {
  padding: 0 20px;
  background: #ffffff;
  color: #21bdc5;
}

.VisualizationMainPage #footer {
  padding: 0 10px;
  background: #21bdc5;
  color: #331a8e;
}
.VisualizationMainPage #footer p {
  margin: 0;
  padding: 10px 0;
}

EM {
  text-decoration: bold;
}

input {
  background-color: rgb(197, 243, 245);
  padding: 10px;
  border-style: none;
  border-radius: 10px;
}

#algoControlSection {
  display: flex;
  justify-content: center;
  padding: 10px;
}
