@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  display: flex;
  justify-content: center;
  background: rgb(118, 255, 184);
  background: -moz-linear-gradient(
    308deg,
    rgba(118, 255, 184, 1) 0%,
    rgba(0, 255, 212, 1) 29%,
    rgba(170, 209, 192, 1) 100%
  );
  background: -webkit-linear-gradient(
    308deg,
    rgba(118, 255, 184, 1) 0%,
    rgba(0, 255, 212, 1) 29%,
    rgba(170, 209, 192, 1) 100%
  );
  background: linear-gradient(
    308deg,
    rgba(118, 255, 184, 1) 0%,
    rgba(0, 255, 212, 1) 29%,
    rgba(170, 209, 192, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#76ffb8",endColorstr="#aad1c0",GradientType=1);
  background-repeat: no-repeat;
}

.VisualizationMainPage #header {
  color: #074443;
  text-align: center;
}

.VisualizationMainPage #header h1 {
  padding: 10px 0;
}

input {
  background-color: rgb(197, 243, 245);
  padding: 7px 6px;
  margin: 0px 5px;
  border-style: none;
  outline: none;
  border-radius: 10px;
}
input:focus {
  background-color: rgb(255, 255, 255);
  border-style: none;
  outline: none;
}
#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}
#algoControlSection {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
#generalAnimationControlSection {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
